name: ReleaseAll

on:
  release:
    types: [published]

permissions:
  contents: write
  
jobs:
  release:
    name: Release
    strategy:
      matrix:
        kind: ["linux", "windows", "macOS"]
        include:
          - kind: linux
            os: ubuntu-latest
            target: linux-x64
          - kind: windows
            os: windows-latest
            target: win-x64
          - kind: macOS
            os: macos-latest
            target: osx-x64
    runs-on: ${{ matrix.os }}
    env:
      DOTNET_NOLOGO: true
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: BuildFrameworkDep
        shell: bash
        working-directory: src
        run: |
          tag=$(git describe --tags --abbrev=0)
          release_name="GamelistMerger-FD-$tag-${{ matrix.target }}"

          # Build everything
          dotnet publish ./GamelistMerger/GamelistMerger.csproj  -c Release -f net10.0 -r ${{ matrix.target }} --no-self-contained -p:PublishSingleFile=true -o "./releases/$release_name" -p:DebugType=None -p:DebugSymbols=false -p:Version=${tag}

          # Pack files
          if [ "${{ matrix.target }}" == "win-x64" ]; then
            # Pack to zip for Windows
            7z a -tzip "../${release_name}.zip" "./releases/${release_name}/*"
          else
            tar czvf "../${release_name}.tar.gz" "./releases/$release_name"
          fi

          # Delete output directory
          rm -r "./releases/$release_name"

      - name: Publish
        uses: softprops/action-gh-release@v2
        with:
          files: "GamelistMerger-*"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: BuildSelfContained
        shell: bash
        working-directory: src
        run: |
          tag=$(git describe --tags --abbrev=0)
          release_name="GamelistMerger-SC-$tag-${{ matrix.target }}"

          # Build everything
          dotnet publish ./GamelistMerger/GamelistMerger.csproj -c Release -f net10.0 -r ${{ matrix.target }}  --self-contained -p:PublishSingleFile=true -o "./releases/$release_name" -p:DebugType=None -p:DebugSymbols=false -p:Version=${tag}

          # Pack files
          if [ "${{ matrix.target }}" == "win-x64" ]; then
            # Pack to zip for Windows
            7z a -tzip "../${release_name}.zip" "./releases/${release_name}/*"
          else
            tar czvf "../${release_name}.tar.gz" "./releases/$release_name"
          fi

          # Delete output directory
          rm -r "./releases/$release_name"

      - name: Publish
        uses: softprops/action-gh-release@v2
        with:
          files: "GamelistMerger-*"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}